@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}





header 
{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.0);
}




header img
{
    width: 18px;
    cursor: pointer;
    margin: 20px 15px;
}


header .container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 15px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


nav 
{
    flex: 1;
    text-align: right;
}


nav ul li 
{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}



nav ul li a 
{
    font-size: 1em;
    color: #555;
}



nav ul li a:hover
{
    color: rgba(0,0,0,0.2);
    transition: 0.3s;
}





@media only screen and (max-width: 900px) {


nav ul 
{
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.08);
    top: 50px;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



nav ul li 
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}



nav ul li a 
{
    font-size: 0.9em;
    color: #000;
}



nav ul li a:hover 
{
    color: rgba(0,0,0,0.2);
    transition: 0.3s;
}




header .container {
  display: block;
  margin-right: 5px;
}



#menuList
{
    overflow: hidden;
    transition: 0.5s;
}





/******Loader******/


.loader 
{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: #fff;
}





.loader img 
{
    position: absolute;
    width: 55px;
}







.ios 
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: #fff;
}




.ios .row 
{
    display: flex;
    justify-content: center;
}




.ios .words
{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}



.ios .words h1
{
    position: absolute;
    font-size: 1.7em;
}



.ios .words h2
{ 
    position: absolute;
    font-size: 1.5em;
    margin-top: 2.1rem;
}




.ios .words h3
{ 
    position: absolute;
    font-size: 1.5em;
    margin-top: 3.9rem;
}






.ios .words h4
{ 
    position: absolute;
    font-size: 1.5em;
    margin-top: 5.7rem;
}




.ios .words p 
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 7.5rem;
    color: #777;
    padding: 18px;
}





.ios .imge 
{
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}




.ios .imge img 
{
    position: absolute;
    width: 350px;
}




.ios .button1
{
    display: flex;
    justify-content: center;
    margin-top: 35rem;
}



.ios .button1 a 
{
    position: absolute;
    padding: 17px 55;
    background: rgb(249,138,27);
background: linear-gradient(90deg, rgba(249,138,27,1) 0%, rgba(255,74,0,1) 100%);
    color: #fff;
    font-size: 1.1em;
    border-radius: 30px;
}





 


}